.bg-info{
    background-color:rgb(43, 107, 226) !important;
}

.nav-link.active{background-color:rgb(43, 107, 226) !important;
}
.btn-primary{
    background-color:rgb(43, 107, 226)  !important;
}
.dropdown-item:active{
    background-color:rgb(43, 107, 226) !important;
}
